<%- include('./header.ejs'); %>
  <!-- !ref4weqQ -->

  <div id="login-container">
    <div id="left-column"></div>
    <div id="branding">
      <img src="./images/logo.png" />
      <h1>Login - Chatfinity</h1>
    </div>
    <div id="login-form">
      <form method="post" action="/">
        <input type="email" name="email" placeholder="enter your email" value="<%= data.email %>" />
        <% if (errors.email) { %>
          <p class="error show">
            <%= errors.email.msg %>
          </p>
          <% } %>
            <input type="password" name="password" placeholder="enter password" />
            <% if (errors.password) { %>
              <p class="error show">
                <%= errors.password.msg %>
              </p>
              <% } %>

                <% if (errors.common) { %>
                  <p class="error show">
                    <%= errors.common.msg %>
                  </p>
                  <% } %>
                    <input type="submit" value="Login" />
      </form>
      <div id="login-down-area">
        <p>Don't have an account?</p>
        <p><a class="btn" href="/signup">Sign up</a></p>
      </div>
    </div>
  </div>
  </body>

  </html>