<%- include('./header.ejs'); %>
  <div class="manageUser-container">
    <div id="title">
      <h2>Manage Users</h2>
      <a href="/inbox"><input type="submit" value="Go to inbox" /></a>
    </div>

    <!-- <div class="new-message-container new-user">
      <a href="#" onclick="openModal()">+</a>
    </div> -->

    <div id="users-table">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <% if (currentUserRole==="admin" ) { %>
              <th>Manage</th>
              <% } %>
          </tr>
        </thead>
        <tbody id="users-table">
          <% users.forEach(function(user) { %>
            <tr id="<%= user._id %>">
              <td class="name">
                <% if (user.avatar) { %>
                  <img src="./uploads/avatars/<%= user.avatar %>" />
                  <% } else { %>
                    <img src="./images/nophoto.png" />
                    <% } %>
                      <span>
                        <%= user.name %>
                      </span>
              </td>
              <td>
                <%= user.email %>
              </td>
              <% if (currentUserRole==="admin" ) { %>
                <td class="manage">
                  <img src="./images/trash.png" alt="Delete" onclick="deleteUser('<%= user._id %>')" />
                </td>
                <% } %>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    // toasts
    const deleteToast = Toastify({
      text: "User was deleted successfully!",
      duration: 3000,
    });
    const deleteErrorToast = Toastify({
      text: "Could not delete the user!",
      duration: 3000,
    });

    // delete user function
    async function deleteUser(userId) {
      let response = await fetch(`/users/${userId}`, {
        method: "DELETE",
      });

      let result = await response.json();
      if (result.errors) {
        deleteErrorToast.showToast();
      } else {
        deleteToast.showToast();
        document.getElementById(userId).remove();
      }
    }
  </script>

  <!-- <div class=" modal-wrapper" id="add-user-modal">
                <div class="modal">
                  <a href="#" onclick="closeModal()" class="modal-close">+</a>
                  <div class="modal-title">
                    <h2>Create New User</h2>
                  </div>
                  <div class="modal-body">
                    <form id="add-user-form">
                      <input type="text" placeholder="enter name" name="name" />
                      <p class="error show">This is error</p>
                      <input type="text" placeholder="enter email" name="email" />
                      <input type="text" placeholder="enter mobile" name="mobile" />
                      <input type="password" placeholder="enter password" name="password" />
                      <input type="file" name="avatar" />
                      <input type="submit" value="Submit" />
                    </form>
                  </div>
                </div>
    </div>
    <script>
    const modal = document.querySelector("#add-user-modal");
    function closeModal() {
      modal.style.display = "none";
    }
    function openModal() {
      modal.style.display = "block";
    }
  </script> -->
  </body>

  </html>